.button {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  gap: 16px;

  height: 42px;

  padding: 8px 16px;

  border: 1px solid black;
  border-radius: 0px;

  transition: 0.1s;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px black;

    transform: translate(-2px, -2px);
  }

  &:focus {
    cursor: pointer;
    box-shadow: 2px 2px black;

    transform: translate(-2px, -2px);
  }

  &:active {
    box-shadow: none;
    background: white;

    transform: translate(0px, 0px);
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 24px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  width: 24px;
}
